*{

  box-sizing: border-box;
  font-family: 'Montserrat';
}


body {
    
    margin: 0;
    margin-top: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #ffffff;


}

h2{
    font-size: 25px;
    font-weight:900;
    margin-bottom: 25px;

}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: -8px;
}

.form-group input {
    
    width: 270px; 
    height: 30px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 2px 10px;
    border-style: none;
    background-color: whitesmoke;
    border-radius: 10px;
    font-size: 12px;
}

.comentarios{
   
    background-color: whitesmoke;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 10px;
    width: 98%;
    height: 132px;
    text-align:start;
    border-style: hidden;
    box-sizing: border-box;
    resize: none;
    visibility: visible;
    
    color: rgb(116, 115, 115);
    font-size: 12px;


}

.check{

    color: rgb(116, 115, 115);
    font-size: small;
    display: flex;             
    align-items: center;
}

.check input[type="checkbox"] {
    margin: 0;                
}

.check label {
    margin-left: 5px;           
}

.check label span{

  color: #0A8EB3;

  font-weight: bold;

}

.button{

    margin-top: 6px;
    padding: 10px 15px 10px 15px;
    font-weight: bold;
    background-color: #196fa5;
    color: white;
    border-radius: 10px;
    border-style: hidden;
}

@media screen and (max-width: 600px) {
    .form-group input{
      width: 100%;
      margin-top: 0;
    }
  }