body {

    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #ffffff;


}

h2{
    font-family: 'Montserrat';font-size: 22px;
    font-size: large;
    font-weight: bold;

}

form{

    margin-bottom: 30px;
}